# D1 - 01 - Variables and Data Structures

## Content
- How do I use a jupyter notebook?
- What are variables and what can I do with them?
- Which data structures are available?

## Jupyter notebooks...
... are a single environment in which you can run code interactively, visualize results, and even add formatted documentation. This text for example lies in a **Markdown**-type cell. To run the currently highlighted cell, hold <kbd>&#x21E7; Shift</kbd> and press <kbd>&#x23ce; Enter</kbd>.

## Variables
Let's have a look at a code cell which will show us how to handle variables:

In [1]:
a = 1
b = 1.5

Click with you mouse pointer on the above cell and run it with <kbd>&#x21E7;</kbd>+<kbd>&#x23ce;</kbd>. You now a assigned the value $1$ to the variable `a` and $1.5$ to the variable `b`. By running the next cell, we print out the contents of both variables along with their type:

In [2]:
print(a, type(a))
print(b, type(b))

1 <class 'int'>
1.5 <class 'float'>

`a=1` represents an **integer** while `b=1.5` is a **floating point number**.

Next, we try to add, subtract, multiply and divide `a` and `b` and print out the result and its type:

In [3]:
c = a + b
print(c, type(c))

2.5 <class 'float'>

In [4]:
c = a - b
print(c, type(c))

-0.5 <class 'float'>

In [5]:
c = a * b
print(c, type(c))

1.5 <class 'float'>

In [6]:
c = a / b
print(c, type(c))

0.6666666666666666 <class 'float'>

Python can handle very small floats...

In [7]:
c = 1e-300
print(c, type(c))

1e-300 <class 'float'>

...as well as very big numbers:

In [8]:
c = int(1e20)
print(c, type(c))

100000000000000000000 <class 'int'>

Note that, in the last cell, we have used a type conversion: `1e20` actually is a `float` which we cast as an `int` using the same-named function. Let's try thsi again to convert between floats and integers:

In [9]:
c = float(1)
print(c, type(c))

1.0 <class 'float'>

In [10]:
c = int(1.9)
print(c, type(c))

1 <class 'int'>

We observe that a `float` can easily be made into an `int` but in the reverse process, trailing digits are cut off without propper rounding.

Here is another example how Python handles rounding: we can choose between two division operators with different behavior.

In [11]:
c = 9 / 5
print(c, type(c))

1.8 <class 'float'>

In [12]:
c = 9 // 5
print(c, type(c))

1 <class 'int'>

The first version performs a usual floating point division, even for integer arguments. The second version performs an integer division and, like before, trailing digits are cut.

The last division-related operation is the modulo division:

In [13]:
c = 3 % 2
print(c, type(c))

1 <class 'int'>

For exponentiation, Python provides the `**` operator:

In [14]:
c = 2**3
print(c, type(c))

8 <class 'int'>

If we want to "update" to content of a variable, e.g. add a constant, we could write

```Python
c = c + 3
```

For such cases, however, Python provides a more compact syntax:

In [15]:
c += 3
print(c)

11

The versions `-=`, `*=`, `/=`, `//=`, `%=`, and `**=` are also available.

Now we shall see how Python stores variables. We create a variable `a` and assign its value to another variable `b`:

In [16]:
a = 1
b = a
print(a, id(a))
print(b, id(b))

1 4429976912
1 4429976912

When we now `print` the values and `id`s of both variables, we see that `a` and `b` share the same address: both are referencing the same **object**.

In [17]:
a += 1
print(a, id(a))
print(b, id(b))

2 4429976944
1 4429976912

If, however, we modify `a`, we see that `a` changes its avlues as well as its address while `b` remains unchanged. This is because the built-in data types `float` and `int` are **immutable**: you cannot change a `float`, you can only create a new one.

Here is a nice property of Python that allows easy swapping of variables:

In [18]:
print(a, b)

2 1

If we want to swap `a` and `b`, we do not need a third (swapping) variable as we can use two or even more variables on the left of the assignment operator `=`:

In [19]:
a, b = b, a
print(a, b)

1 2

Finally: text. A variable containing text has the type `str` (**string**). We use either single `'` or double `"` quotes.

In [20]:
a = 'some text...'
print(a, type(a))

some text... <class 'str'>

When we add two strings, they are simply concatenated:

In [21]:
b = a + " and some more"
print(b)

some text... and some more

### Playground: variables

Time to get creative! Create some variables, add or subtract them, cast them into other types, and get a feeling for their behavior...

## Data structures

Apart from the basic data types `int`, `float`, and `str`, Python provides more complex data types to store more than one value. There are several types of such structures which may seem very similar but differ significantly in their behavior:

In [22]:
a = ['one', 'two', 'three', 'four']
b = ('one', 'two', 'three', 'four')
c = {'one', 'two', 'three', 'four'}

print(a, id(a), type(a))
print(b, id(b), type(b))
print(c, id(c), type(c))

['one', 'two', 'three', 'four'] 4467576648 <class 'list'>
('one', 'two', 'three', 'four') 4468974600 <class 'tuple'>
{'three', 'one', 'two', 'four'} 4465265352 <class 'set'>

Now, we have created a `list`, a `tuple`, and a `set`; each containing four strings.

We create a new variable `d` from the `list` in `a` and modify the first element of `d`:

In [23]:
d = a
print(d[0])
d[0] = 'ONE'
print(a, id(a), type(a))

one
['ONE', 'two', 'three', 'four'] 4467576648 <class 'list'>

The `print` statement tells us that the change of `d`did change the content of `a`, but not its address. This means, a `list` is **mutable** and `a` and `d` are both pointing to the same, changeable object.

In [24]:
d += ['five']
print(a, id(a), type(a))

['ONE', 'two', 'three', 'four', 'five'] 4467576648 <class 'list'>

We can also add another `list` via `+` ...

In [25]:
d.append('six')
print(a, id(a), type(a))

['ONE', 'two', 'three', 'four', 'five', 'six'] 4467576648 <class 'list'>

... or another element via the `append()` method.